.one
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(images/background.jpg);
    position: absolute;
    background-size: cover;
    background-image: no-repeat;
}
.login-box
{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%,-50%);
    color: #EEEEEE;
    margin-top: 270px;
    margin-left: 350px;
}
.login-box h1
{
    float: left;
    font-size: 45px;
    border-bottom: 6px solid #FFD36E;
    margin-bottom: 50px;
    padding: 13px 0; 
}
.textbox
{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0px;
    margin: 8px 0px;
    border-bottom: 1px solid;
}
.textbox i
{
    width: 26px;
    float: left;
    text-align: center;
}
.textbox input
{
    border: none;
    outline: none;
    background: none;
    color: #EEEEEE;
    font-size: 15px;
    width: 80px;
    float: left;
    margin: 0 10px;
}
.btn
{
    width: 100%;
    background: #FFD36E;
    border: 2px solid #FFD36E;
    color: white;
    padding: 5px;
    font-size: 25px;
    cursor: pointer;
    margin: 12px 0;
}
  