<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="./css/style.css" />
  <title>About Us</title>
  <link rel='icon' href="images/icon.png">
 
</head>
<body>
  <!--navbar-->
  <nav>
    <div class="container">
      <div class="logo">
        <img src="images/Blue_logo.png" alt="logoo"/>
        <br>   
        <br>           
        <h4><font color="#64bcf4">Next Generation Smart Grid Meter (NGSM)</font></h4>     
      </div>

      <div class="links">
        <ul>
          <li>
            <a href="index">Home</a>
          </li>
          <li>
            <a href="FAQs">FAQs</a>
          </li>
          <li>
            <a href="login" class="active">Login</a>
          </li>
          <li><a href="pricing">Pricing</a></li>
        </ul>
      </div>

      <div class="hamburger-menu">
        <div class="bar"></div>
      </div>
    </div>
  </nav>
  <!--end-of-navbar-->

  <!--portfolio-->
  <section class="portfolio section" id="portfolio">
    <div class="background-bg">
      <div class="overlay overlay-sm">
        <img
          src="./img/shapes/half-circle.png"
          class="shape half-circle1"
          alt=""
        />
        <img
          src="./img/shapes/half-circle.png"
          class="shape half-circle2"
          alt=""
        />
        <img src="./img/shapes/square.png" class="shape square" alt="" />
        <img src="./img/shapes/wave.png" class="shape wave" alt="" />
        <img src="./img/shapes/circle.png" class="shape circle" alt="" />
        <img
          src="./img/shapes/triangle.png"
          class="shape triangle"
          alt=""
        />
        <img src="./img/shapes/x.png" class="shape xshape" alt="" />
      </div>
    </div>

    <div class="container">
      <div class="section-header">
        <h7 class="title" data-title="Our Team">We’re a group of students from the Faculty of Engineering, Helwan University currently working on our graduation project called “Next-Generation Smart Grid Meter (NGSM)” to help consumers track their electricity bills online and predict their working household appliances for usage recommendations.</h7>
      </div>

      <div class="section-body">
        <div class="filter">
          <button class="filter-btn active" data-filter="*">All</button>
          <button class="filter-btn" data-filter=".webdev">Frontend and Backend Dev</button>
          <button class="filter-btn" data-filter=".mobiledev">Mobile Dev</button>
          <button class="filter-btn" data-filter=".machine">Machine Learning</button>
          <button class="filter-btn" data-filter=".Embedded">Embedded Linux</button>
        </div>

        <div class="grid">
          <div class="grid-item webdev">
            <div class="gallery-image">
              <img src="images/mai.jpeg" alt="" />
              <div class="img-overlay">
                <div class="img-description">
                  <h3>Frontend </h3>
                  <h5>Developer</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-item webdev">
            <div class="gallery-image">
              <img src="images/abdullah.jpeg" alt="" />
              <div class="img-overlay">
                <div class="img-description">
                  <h3>Backend</h3>
                  <h5>Developer</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-item mobiledev">
            <div class="gallery-image">
              <img src="images/rania (2).jpeg" alt="" />
              <div class="img-overlay">
                <div class="img-description">
                  <h3>Mobile</h3>
                  <h5>Developer</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-item machine">
            <div class="gallery-image">
              <img src="images/noor.jpeg" alt="" />
              <div class="img-overlay">
                <div class="img-description">
                  <h3>Machine</h3>
                  <h5>Learning</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-item machine">
            <div class="gallery-image">
              <img src="images/adel.jpeg" alt="" />
              <div class="img-overlay">
                <div class="img-description">
                  <h3>Machine</h3>
                  <h5>Learning</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-item Embedded">
            <div class="gallery-image">
              <img src="images/john.jpg" alt="" />
              <div class="img-overlay">
                <div class="img-description">
                  <h3>Embedded</h3>
                  <h5>Linux</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-item Embedded">
            <div class="gallery-image">
              <img src="images/belal.jpg" alt="" />
              <div class="img-overlay">
                <div class="img-description">
                  <h3>Embedded</h3>
                  <h5>Linux</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-item Embedded">
            <div class="gallery-image">
              <img src="images/hossam.jpeg" alt="" />
              <div class="img-overlay">
                <div class="img-description">
                  <h3>Embedded</h3>
                  <h5>Linux</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-item Embedded">
            <div class="gallery-image">
              <img src="images/osam.JPG" alt="" />
              <div class="img-overlay">
                <div class="img-description">
                  <h3>Embedded</h3>
                  <h5>Linux</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
<!--end-of-portfolio-->

<!--footer-->
<footer class="footer">
  <div class="container">
    <div class="grid-4">
      <div class="grid-4-col footer-about">
        <h3 class="title-sm">About</h3>
        <p class="text">
          Our beginnings as a manufacturer of electrical components in Egypt 80 years ago
        </p>
      </div>

      <div class="grid-4-col footer-links">
        <h3 class="title-sm">Links</h3>
        <ul>
          <li>
            <a href="#services">About Us</a>
          </li>
          <li>
            <a href="#portfolio">Pricing</a>
          </li>              
          <li>
            <a href="#contact">Login</a>
          </li>
        </ul>
      </div>

      <div class="grid-4-col footer-links">
        <h3 class="title-sm">Services</h3>
        <ul>
          <li>
            <a href="#">Web Development</a>
          </li>
          <li>
            <a href="#">Mobile Development</a>
          </li>
          <li>
            <a href="#">Machine Learning</a>
          </li>
          <li>
            <a href="#">Embedded Linux</a>
          </li>
        </ul>
      </div>

      <div class="grid-4-col footer-newstletter">
        <h3 class="title-sm">Contact Us</h3>
       
        <div class="footer-input-wrap">
          <input type="email" class="footer-input" placeholder="Email" />
          <a href="#" class="input-arrow">
            <i class="fas fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="bottom-footer">
      <div class="copyright">
        <p class="text">
          Copyright&copy;2020 All rights reserved | Made by
          <span>/ root</span>
        </p>
      </div>

      <div class="followme-wrap">
        <div class="followme">
          <h3>Follow Us</h3>
          <span class="footer-line"></span>
          <div class="social-media">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>

        <div class="back-btn-wrap">
          <a href="#" class="back-btn">
            <i class="fas fa-chevron-up"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--end-of-footer-->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="./js/isotope.pkgd.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="./js/app.js"></script>

</body>
</html>